<footer class="container" style="magrin-top:100px;">
  <p class ="text-center">Copyright @2016 rails103
    <br>Design by
    <a href="http://courses.growthschool.com/courses/rails-102/" target=_new>xdite</a>
  </p>
</footer>
